body {
	background-image: url("../images/littleG404.png");
	background-repeat: repeat;
}

.container {
	background-color: #1e2229;
	font-family: 'Josefin Sans', sans-serif;
	border: 2px solid rgb(97, 89, 105);
    border-radius: 25px;
}

#trainName {
	text-align: left;

}

.jumbotron {

	background-color: rgb(52, 52, 54);
	margin-top:10px;
	
}

.panel-heading {
	background-color: rgb(161, 162, 165);
}

.data {
	border-bottom: 1px solid black;
}

h3 {
	font-size: 1.2rem;
	font-weight: 600;
	
}